<div *ngIf="hasLoaded; else pageLoading">
  <nb-card>
    <div *ngIf="seriesList | async as list">
    <nb-card-header>
      <img [src]="headerImage" class=header-img>
      <h1>
        Liquid Church Group Guides
      </h1>
    </nb-card-header>
    <nb-card-body>
      <div class="form-body">
        <div *ngFor="let series of list">
          <nb-card>
            <nb-card-header>
              <nb-action [routerLink]="'/series/' + series.uri">
                <img [src]="series.imageUrl" class=guide-img>
              </nb-action>
            </nb-card-header>
          </nb-card>

          
        </div>
                     
                     
        
        
      </div>
    </nb-card-body>
    </div>
  
  </nb-card>
</div>
<ng-template #pageLoading>
  <h2>
    Loading...
  </h2>
</ng-template>
